#FDialog {
	border: 3px groove rgba(255,0,0,0.25);
	border-radius: 20px;
	background: rgba(0,0,0,0.75);
	color: #fff;
	padding: 14px 14px 14px 14px;
	z-index: 23532;
	position:fixed !important;
	position:absolute;
	top:200px;
	right:400px;
	bottom:200px;
	left:400px;
}
#Fantastic {
	color: #fff;
	padding: 4px 14px 4px 14px;
	height: 100px auto;
	opacity: .85;
}
#boxF {
	text-align: center;
	/*margin: 0 auto;width: 40px;*/
	cursor: pointer;
	margin-top: 9px;
	background-color: transparent;
	height: 38px;
	padding: 0;
	float: left;
}
#btnFClose {
	color: #F00 !important;
	cursor: pointer;
	float: right;
}
#Fantastic input[type=checkbox] {
	visibility: hidden;
}
#btnFMenu {
	display: inline;
}
#btnFRefresh {
	display: inline;
	margin-left: -7px;
	margin-top: -17px;
}
#FantasticStatus {
	background-color: #111;
	color: #fff;
	overflow: auto;
	border: 0px solid #900;
	width: 250px;
	max-height: 150px;
	
}
#optBoxes {
	float: right;
	width: 240px;
	background: transparent;
	text-align: center;
	margin: auto;
}
#prefBoxes {
	width: auto;
	max-width: 280px;
	text-align: left;
	vertical-align: middle;
	float: left;
	/*text-align: center;*/
	/*max-height: 768px;*/
}
.pageMenu {
	max-width: 460px;
}
.prefBox {
	padding: 2px 4px 2px 4px;
	border: 0px dashed #fff;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}
.pageBox {
	padding: 2px 4px 2px 4px;
	border: 0px dashed #fff;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: auto;
}

.prefSwitch {
	height: 26px;
	line-height: 26px;
	vertical-align: middle;
	width: auto;
	/*padding: 2px 4px 2px 4px;*/
	border: 0px dashed #fff;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
.pageSwitch {
	height: 28px;
	line-height: 28px;
	vertical-align: middle;
	width: auto;
	/*padding: 2px 4px 2px 4px;*/
	border: 0px dashed #fff;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}
.prefLabel {
	display: block;
	text-align: left;
	margin: auto;
	font-size: 16px;
	color: #fff;
	padding: 0px 4px;
	width: 80px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
}
.pageMenuLabel {
	display: inline-block;
	text-align: left;
	margin: auto;
	font-size: 16px;
	color: #fff;
	padding: 0px 4px;
	width: 110px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
}
.prefStatus {
	display: block;
	text-align: center;
	margin: auto;
	width: 20px;
	height: 20px;
	line-height: 20px;
	/*padding: 0px 10px;*/
	vertical-align: middle;
	
}
.prefOpts {
	width: 100%;
	display: block;
	/*padding: 2px 4px 2px 4px;*/
	margin: auto;
	text-align: center;
}
.slx {font-size:14px; width: 76px; height:25px; line-height: 23px; padding:1px; margin:0; border-radius: 5px; border: 0px #solid #f00;}
.slx option {padding-right:0px;}
.slxPages {
	display: none;
}
.slBox {
	display: block;
	padding: 2px;
	border: 1px solid #fff;
	margin: auto;
	text-align: center;
	
}
.slxLabel {
	/*font-size: 16px;*/
}




.FTableHead {
	/*background-color: #111 !important;*/
	color: #FFF !important;
	font: .9em fantasy !important;
	font-weight: bolder !important;
	/*color: #660066 !important;*/
}
.clsFHd {
	background-color: #382238 !important;
	color: #FFF !important;
	max-width: 150px !important;
}
.clsF {
	background-color: #382238 !important;
	color: #FFF !important;
	max-width: 150px !important;
}
.playerTnt {
	/*background-color: #382238 !important;*/
}
#TitleBox {
	position: absolute !important;
	z-index: 2623454325 !important;
	background-color: #111 !important;
	/*border: 3px groove #382238 !important;*/
	opacity: .90;
	padding: 20px;
	min-width: 100px;
	max-width: 300px;
}
#TitleBox span {
	display: block;
	padding: 0px 4px;
	color: #fff;
}
.TitleHead {
	font-size: 1.3em;
	padding-bottom: 5px !important;
}


th, td {
	text-align: center !important;
}





.down.red {
	border-top: 10px solid #f11;
}
.left.red {
	border-right: 10px solid #f11;
}
.down.grn {
	border-top: 10px solid #1c1;
}
.left.grn {
	border-right: 10px solid #1c1;
}
.arrow {
	width: 0px; 
	height: 0px;
	display: inline-block;
	line-height: 20px;
	vertical-align: middle;
}
.down {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
.left {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
.status {
	border-radius: 5px 5px 5px 5px;
	display: inline-block;
	height: 10px;
	width: 10px;
	margin: 0px 10px;
}
.bottom-ten {
    background-color: #EA2502;
    border-color: #EA2502;
}
.middle {
    background-color: #FFC000;
    border-color:#FFC000;
}
.top-ten {
    background-color: #80CD00;
    border-color: #80CD00;
}


.clsF {
	text-align: center;
	font-weight: bold;
}











.slideThree {
	width: 80px;
	height: 26px;
	background: #333;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}
.slideThree:after {
	content: 'OFF';
	font: 12px/26px Arial, sans-serif;
	color: #d00;
	position: absolute;
	right: 10px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}
.slideThree:before {
	content: 'ON';
	font: 12px/26px Arial, sans-serif;
	color: #00bf00;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}
.slideThree label {
	display: block;
	width: 34px;
	height: 20px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;
	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}
.slideThree input[type=checkbox]:checked + label {
	left: 43px;
}


/* SQUARED ONE */
.squaredOne {
	width: 28px;
	height: 28px;
	background: #fcfff4;
	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 20px auto;
	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
	display: block;
}

.squaredOne label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 4px;
	top: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredOne label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	background: #00bf00;

	background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: linear-gradient(top, #00bf00 0%, #009400 100%);

	top: 2px;
	left: 2px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.squaredOne label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredOne input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}






/* Pref Styles */

.slim {
	max-width: 25px;
	overflow: hidden;
}
.unWide {
	max-width: 25px;
	overflow: hidden;
}



/* SQUARED THREE */
.squaredThree {
	width: 20px;	
	margin: auto;
	position: relative;
}

.squaredThree label {
	display:block;
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredThree label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredThree label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredThree input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}


/*.sidecontentpullout {
	background-color: #790000;
	color: White;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	-moz-border-radius-bottomright: .5em;
	-moz-border-radius-topright: .5em;
	-webkit-border-bottom-right-radius: .5em;
	-webkit-border-top-right-radius: .5em;
	border-bottom-right-radius: .5em;
	border-top-right-radius: .5em;
	z-index: 155556;

}
.sidecontentpullout span {
	font-family: arial,helvetica,clean,sans-serif;
	font-weight: 700;
}

.sidecontentpullout:hover {
	background-color: #fff;
	color: #933;
}

.sidecontent {
	background-color: #fff;
	color: #790000;
	-moz-border-radius-bottomright: 1em;
	-webkit-border-bottom-right-radius: 1em;
	border-bottom-right-radius: 1em;
	z-index: 155555;
	border: 1px solid #999;
	overflow: auto;
	height: 80%;
}
.fantasticMenu {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	z-index: 155556;
	margin-top: 0px;
	display: block;
	overflow: auto;
	height: 80%;
}
.fantasticMenu fieldset {
	border: 1px solid #aaa;
	padding: 5px;
	text-align: center;
	padding-left: 8px;
	padding-top: 1px;
	border-radius: .5em;
	width: 95%;
}
.fantasticMenu legend {
	color: #790000;
	font-weight: bolder;
	font-size: 14px;
	padding: 1px 5px;
	cursor: pointer;
	text-shadow: .3px .3px #333;
	text-transform: capitalize;
}
.fantasticMenu legend img{
	vertical-align: middle;
}
.fantasticMenu legend:hover {
	color: #933;
}
.pref , .cache{
	padding: 2px;
	cursor: pointer;
	text-align: right;
	border: 1px solid #933;
	float: left;
	display: inline-block;
	position: relative;	
	color: #790000;
	margin-bottom: 1px;
	margin-right: 2px;
	border-radius: .23em;
	font-weight: bolder;
}
.prefLabel, .cacheLabel {
	float: left;
	display: inline-block;
	padding: 3px;
}
.pref:hover, .cache:hover {
	color: #fff;
	background-color: #790000;
}
.prefStatus {
    border-radius: 5px 5px 5px 5px;
    display: block;
	float: right;
    height: 10px;
    width: 10px;
	margin-top: 7px;
	margin-left: 4px;
}
.none {
    background-color: #EA2502;
    border-color: #EA2502;
}
.some {
    background-color: #FFC000;
    border-color:#FFC000;
}
.all {
    background-color: #80CD00;
    border-color: #80CD00;
}
.cacheStatus {
    border-radius: 5px 5px 5px 5px;
    display: block;
	float: right;
    height: 10px;
    width: 10px;
	margin-top: 7px;
	margin-left: 4px;
}


#cacheRefresh {
	margin-top: -2px;
}

.fantasticMenu span {
	cursor: pointer;
	text-align: center;
}
.fantasticMenu table {
	width: 100%;
}

.fantasticMenu td span span{
	vertical-align: middle;
	display: inline-block;
}


#linkMenu {
	background-color: #ccc;
	margin: 0 auto;
}
.hasMenu {
	color: #790000;
	display: inline;
	margin: 0 auto;
	padding: 5px 15px;
	cursor: pointer;
	float: left;
	position: relative;
	text-align: center;
	width: 140px;
}
.hasMenu h4 {
	font-weight: bold;
	font-size: 17px;
}
#linkMenu li ul {
}
.hasMenu li a {
	color: #790000;
	padding: 4px;
	display: block;
	text-decoration: none;
}
.hasMenu li a:hover {
	font-weight: bolder;
}

.fanTableHeader {
	background-color: #790000;
	color: #fff;
}

*/

/*#iconF:hover + span , #fantasticBtn:hover {
	color: #fff;
}
*//*#fantasticBtn {
	cursor: pointer;
	font-weight: bolder;
	font-size: 17px;
	color: #790000;
	vertical-align: middle;
	line-height: 18px;
}*/
/*#yspteammh span:not(#fantasticBtn) {
	vertical-align: middle;
	display: inline-block;
	font-size: 12px;
	line-height: 18px;
	padding-top: 2px;
}*/